

.banner1{
    border-radius: 1rem;
}
.banner2{
    border-radius: 1rem;
}
.Container{
    margin-top: 2rem;
    padding-right: 60px;
    margin-left: 10px;
}
.list{
    border-radius: 2rem;
    margin-top: 3rem;
}
.Col{
    margin-top: 3rem;
}
